*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
   background-color: white;
}
body{
    background-color: rgb(240, 240, 240);
}

h1{
    display: inline-block;
    font-size:30px;
    vertical-align: middle;
}
img{
    height: 70%;
    vertical-align: middle;
}
.main-logo{
    height: 100px;
    padding: 1rem;
}

.main-list{
    max-width: 50%;
    margin:auto;
    margin-top:5rem;
    background-color: white;
}
.primi-bottoni{
    padding:1rem;
}

h3{
    margin-top:2rem;
}

.spunta{
    color: green;
    border-radius: 50%;
    padding:.1rem;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;

}
.non-svolto{
    color:red;
    border-radius: 50%;
    padding:.1rem;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;


}
p{
    margin-top:1rem;
}

.button-blue{
    background-color: cornflowerblue;
    color:white;
    padding: .2rem;
    border-radius: .5rem;
}

.button-violet{
    background-color: blueviolet;
    color:white;
    padding: .2rem;
    border-radius: .5rem;
}

.button-acquamarine{
    background-color: aquamarine;
    color:white;
    padding: .2rem;
    border-radius: .5rem;
}

.button-arancione{
    background-color: orange;
    color:white;
    padding: .2rem;
    border-radius: .5rem;
}

.button-fucsia{
    background-color: fuchsia;
    color:white;
    padding: .2rem;
    border-radius: .5rem;
}

.button-green{
    background-color: rgb(73, 151, 73);
    color:white;
    padding: .2rem;
    border-radius: .5rem;

}
.first-button{
    background-color: cornflowerblue;
    color: white;
    padding: .3rem;
    border-radius: .5rem;
}

.second-button{
    background-color: white;
    color: cornflowerblue;
    padding: .3rem;
    border-radius: .5rem;
}