*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
   background-color: white;
}


h1{
    display: inline-block;
    font-size:30px;
    vertical-align: middle;
}
img{
    height: 70%;
    vertical-align: middle;
}
.main-logo{
    height: 100px;
    padding: 1rem;
}

.main-list{
    max-width: 80%;
    margin:auto;
    margin-top:5rem;

}
.primi-bottoni{
    padding:1rem;
}

h3{
    margin-top:2rem;
}

.spunta{
    background-color: blue;
    color: green;
    border-radius: 50%;
    padding:.1rem;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;

}
.non-svolto{
    background-color: white;
    color:red;
    border-radius: 50%;
    padding:.1rem;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;


}
p{
    margin-top:1rem;
}